Repository wasilak/kube-ingress-dash: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks for file quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
      - id: end-of-file-fixer
        name: Fix End of Files
      - id: check-yaml
        name: Check YAML Syntax
        exclude: ^charts/.*/(templates|crds)/.*\.yaml$
      - id: check-json
        name: Check JSON Syntax
      - id: check-merge-conflict
        name: Check for Merge Conflicts
      - id: detect-private-key
        name: Detect Private Keys

  # Helm documentation generation
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        name: Generate Helm Documentation
        args:
          - --chart-search-root=charts

  # Local hooks for TypeScript, ESLint, and testing
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        exclude: \.(test|spec)\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

      - id: eslint
        name: ESLint with Auto-fix
        entry: npm run lint:fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [commit]

      - id: prettier
        name: Prettier Format Check
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|md)$
        pass_filenames: false
        stages: [commit]

refactor: extract magic numbers and strings to constants
  .kiro/specs/production-readiness-improvements/tasks.md
  src/app/api/health/route.ts
  src/app/api/ingresses/route.ts
  src/app/api/ingresses/stream/route.ts
  src/app/api/namespaces/route.ts
  src/constants/cache.ts
  src/constants/errors.ts
  src/constants/http.ts
  src/constants/index.ts
  src/constants/kubernetes.ts
  src/lib/error-handler/circuit-breaker.ts
  src/lib/error-handler/classifier.ts
  src/lib/error-handler/retry.ts
  src/lib/k8s/client.ts
  src/lib/k8s/ingress-stream.ts
  src/lib/k8s/multi-namespace-stream.ts
  src/lib/utils/ingress-transformer.ts
  src/proxy.ts
Due: typescript-check, eslint, prettier

refactor: break down large components into smaller, focused modules
  .kiro/specs/production-readiness-improvements/tasks.md
  src/app/page.tsx
  src/components/dashboard/dashboard-filters.tsx
  src/components/dashboard/dashboard-header.tsx
  src/components/dashboard/dashboard-stats.tsx
  src/components/dashboard/index.ts
  src/components/dashboard/ingress-list.tsx
  src/components/error-screen/error-config.ts
  src/components/error-screen/error-screen-card.tsx
  src/components/error-screen/error-screen-header.tsx
  src/components/error-screen/index.tsx
  src/components/multi-select/index.tsx
  src/components/multi-select/multi-select-component.tsx
  src/components/multi-select/multi-select-content.tsx
  src/components/multi-select/multi-select-trigger.tsx
  src/components/multi-select/types.ts
  src/components/multi-select/use-multi-select-state.ts
  src/hooks/index.ts
  src/hooks/use-ingresses.ts
  src/hooks/use-namespaces.ts
  src/hooks/use-search-sync.ts
  src/hooks/use-sse-stream.ts
Due: typescript-check, eslint, prettier

feat: implement error boundaries for major sections
  .kiro/specs/production-readiness-improvements/tasks.md
  src/app/page.tsx
  src/components/error-boundaries/DashboardErrorBoundary.tsx
  src/components/error-boundaries/FiltersErrorBoundary.tsx
  src/components/error-boundaries/IngressListErrorBoundary.tsx
  src/components/error-boundaries/index.ts
Due: typescript-check, eslint, prettier

docs: audit and fix documentation accuracy issues
  .env.example
  .kiro/specs/production-readiness-improvements/documentation-audit-checklist.md
  .kiro/specs/production-readiness-improvements/tasks.md
  docs-site/docs/architecture/interaction-with-kubernetes.mdx
  docs-site/docs/architecture/rbac-setup.mdx
  docs-site/docs/deployment/docker.mdx
  docs-site/docs/deployment/from-source.mdx
Due: prettier

docs: add comprehensive documentation for new features
  docs-site/docs/api/health-check.mdx
  docs-site/docs/configuration/environment-variables.mdx
  docs-site/docs/features/error-handling.mdx
  docs-site/docs/features/multi-namespace-streaming.mdx
Due: none

docs: update audit checklist to reflect 100% completion
  .kiro/specs/production-readiness-improvements/documentation-audit-checklist.md
Due: prettier

fix: add NODE_OPTIONS to docs build script for Node.js v25 compatibility
  .gitignore
  docs-site/package.json
Due: prettier

docs: improve Helm deployment documentation and NOTES.txt
  charts/kube-ingress-dash/templates/NOTES.txt
  docs-site/docs/deployment/docker.mdx
  docs-site/docs/deployment/from-source.mdx
  docs-site/docs/deployment/helm.mdx
Due: none

docs: enhance Helm deployment documentation with scenarios and troubleshooting
  .kiro/specs/production-readiness-improvements/tasks.md
  docs-site/docs/deployment/helm.mdx
Due: prettier

docs: audit and update documentation for accuracy
  .kiro/specs/production-readiness-improvements/documentation-audit-results.md
  .kiro/specs/production-readiness-improvements/tasks.md
  docs-site/docs/api/health-check.mdx
  docs-site/docs/architecture/interaction-with-kubernetes.mdx
  docs-site/docs/configuration/environment-variables.mdx
  docs-site/docs/deployment/docker.mdx
  docs-site/docs/deployment/helm.mdx
  docs-site/docs/features/error-handling.mdx
  docs-site/docs/index.mdx
Due: prettier

docs: add comprehensive architecture diagrams for production features
  .kiro/specs/production-readiness-improvements/tasks.md
  docs-site/docs/architecture/interaction-with-kubernetes.mdx
  docs-site/docs/architecture/production-features.mdx
  docs-site/docs/features/error-handling.mdx
  docs-site/docs/features/multi-namespace-streaming.mdx
  docs-site/sidebars.ts
Due: typescript-check, eslint, prettier

docs: create comprehensive error code reference documentation
  .kiro/specs/production-readiness-improvements/tasks.md
  docs-site/docs/reference/error-codes.mdx
  docs-site/sidebars.ts
Due: typescript-check, eslint, prettier

added artifacthub badge
  README.md
Due: prettier

fixed pre-commit
  .pre-commit-config.yaml
Due: none

veryfying publisher for artifacthub
  charts/kube-ingress-dash/artifacthub-repo.yml
Due: none

feat: add Artifact Hub verified publisher and official status support
  .prettierignore
  charts/kube-ingress-dash/README.md.gotmpl
Due: none
