Repository wasilak/kube-ingress-dash: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks for file quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
      - id: end-of-file-fixer
        name: Fix End of Files
      - id: check-yaml
        name: Check YAML Syntax
        exclude: ^charts/.*/(templates|crds)/.*\.yaml$
      - id: check-json
        name: Check JSON Syntax
      - id: check-merge-conflict
        name: Check for Merge Conflicts
      - id: detect-private-key
        name: Detect Private Keys

  # Helm documentation generation
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        name: Generate Helm Documentation
        args:
          - --chart-search-root=charts

  # Local hooks for TypeScript, ESLint, and testing
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        exclude: \.(test|spec)\.(ts|tsx)$
        pass_filenames: false
        stages: [commit]

      - id: eslint
        name: ESLint with Auto-fix
        entry: npm run lint:fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [commit]

      - id: prettier
        name: Prettier Format Check
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|md)$
        pass_filenames: false
        stages: [commit]

fixed urls
  charts/kube-ingress-dash/Chart.yaml
  charts/kube-ingress-dash/README.md
  charts/kube-ingress-dash/README.md.gotmpl
Due: prettier

fixed version
  charts/kube-ingress-dash/Chart.yaml
  charts/kube-ingress-dash/README.md
Due: prettier

fix: relax CSP to allow Next.js hydration
  src/proxy.ts
Due: typescript-check, eslint, prettier

fix: make CSP upgrade-insecure-requests optional
  charts/kube-ingress-dash/Chart.yaml
  charts/kube-ingress-dash/README.md
  src/proxy.ts
Due: typescript-check, eslint, prettier

docs: add comprehensive CSP configuration documentation
  .env.example
  docs-site/docs/configuration/environment-variables.mdx
Due: none

fixing artifacthub metadata
  .github/workflows/helm.yml
  charts/kube-ingress-dash/artifacthub-repo.yml
Due: none

fixing artifacthub metadata
  .github/workflows/helm.yml
Due: none

fixing builds
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/helm.yml
  charts/kube-ingress-dash/Chart.yaml
  charts/kube-ingress-dash/README.md
Due: prettier

fixing docs
  docs-site/docs/deployment/helm.mdx
Due: none

fixing artifacthub metadata
  charts/kube-ingress-dash/artifacthub-repo.yml
Due: none

fixing artifacthub metadata
  charts/kube-ingress-dash/Chart.yaml
  charts/kube-ingress-dash/README.md
  charts/kube-ingress-dash/artifacthub-repo.yml
Due: prettier

fixing artifacthub metadata
  .github/workflows/helm.yml
  charts/kube-ingress-dash/Chart.yaml
  charts/kube-ingress-dash/README.md
Due: prettier

feat: migrate core UI components to Mantine
  .kiro/specs/ui-enhancement-mantine-migration/tasks.md
  package-lock.json
  package.json
  src/app/error.tsx
  src/app/layout.tsx
  src/components/client-error-boundary.tsx
  src/components/dashboard/ingress-list.tsx
  src/components/error-screen.tsx
  src/components/error-screen/error-screen-card.tsx
  src/components/error-screen/error-screen-header.tsx
  src/components/error-screen/index.tsx
  src/components/ingress-card.tsx
  src/components/multi-select.tsx
  src/components/multi-select/multi-select-trigger.tsx
  src/components/search-bar.tsx
  src/components/skeletons/ingress-card-skeleton.tsx
  src/components/theme-toggle.tsx
Due: typescript-check, eslint, prettier

feat: refactor IngressCard with Mantine components
  .kiro/specs/ui-enhancement-mantine-migration/tasks.md
  src/components/ingress-card.test.tsx
  src/components/ingress-card.tsx
Due: typescript-check, eslint, prettier

feat: complete Mantine migration with theme support
  .kiro/specs/ui-enhancement-mantine-migration/design.md
  .kiro/specs/ui-enhancement-mantine-migration/requirements.md
  .kiro/specs/ui-enhancement-mantine-migration/tasks.md
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/mantine-overrides.css
  src/components/dashboard/dashboard-filters.tsx
  src/components/dashboard/dashboard-header.tsx
  src/components/ingress-card.tsx
  src/components/mantine-test.tsx
  src/components/mantine-theme-provider.tsx
  src/components/multi-select.tsx
  src/components/multi-select/index.tsx
  src/components/multi-select/multi-select-component.tsx
  src/components/multi-select/multi-select-content.tsx
  src/components/multi-select/multi-select-trigger.tsx
  src/components/namespace-filter.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/theme/mantine-theme.ts
Due: typescript-check, eslint, prettier

feat: implement grouping system for ingress dashboard
  .kiro/specs/ui-enhancement-mantine-migration/tasks.md
  src/app/page.tsx
  src/components/grouped-ingress-grid.tsx
  src/components/grouping-selector.tsx
  src/lib/utils/grouping.ts
  src/types/grouping.ts
Due: typescript-check, eslint, prettier
